{% extends "base.html" %}
{% block title %}Blog Page{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="description" content="Python独立博客展示页"/>
{% endblock %}

{% block content %}
<h1><i class="serif">Python Blog Page</i></h1><br/>

<h2 id="tagline" class="serif"> Python 独立博客索引页，持续更新～</h2>

<ol id="table">
  <li><a href="#section1"><i class="serif">PyHub</i></a></li>
  <li><a href="#section2">博客列表</a></li>
  <li><a href="#section3">声明</a></li>
</ol>

<h2 id="section1">一、PyHub</h2>

<p><i class="serif">PyHub</i> 内容为Python技术资源、信息的一个导航页，内容涵盖：独立博客、GitHub。现在只做了独立博客索引页，后面还没想好。</p>
<p>本页为我所关注的所有Pythoner的博客，所有的描述、备注都是我手动增添。主要是我记不住昵称，为了方便区别。如有<em class="typo-em">不妥之处</em>，<a href="mailto:595666367@qq.com">请联系我</a>，我会即时修改。</p>
<p><a href="/">返回首页</a></p>
<h2 id="section2">二、博客列表：</h2>
<table summary="博客列表">
  <thead>
  <tr>
    <th>Blog</th>
    <th>Info</th>
  </tr>
  </thead>
  <tbody>
  {% for blog in blogs %}
  <tr>
    <td><a href="{{ blog.url }}">{{ blog.name }}</a></td>
    <td>{{ blog.description }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h3 id="section3">三、声明</h3>

<p>本项目使用了开源项目包括：</p>
<ol>
    <li><a href="https://github.com/pallets/flask">flask</a></li>
    <li><a href="https://github.com/sofish/typo.css">typo.css</a></li>
    <li><a href="https://github.com/coleifer/peewee">peewee</a></li>
</ol>

<p><i class="serif">PyHub</i> 基于 <a href="http://zh.wikipedia.org/wiki/MIT_License">MIT License</a> 开源，使用代码只需说明来源</p>
{% endblock%}
