<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="description" content="Python独立博客展示页"/>
    <meta name="viewport" content="width=device-width, minimal-ui">
    <link rel="stylesheet" href={{ url_for('static', filename='typo.css') }}/>
    <title></title>
</head>
<body>
Mange Page:

<table border="1">
  <thead>
  <tr>
    <th>Blog</th>
    <th>Info</th>
    <th>Status</th>
    <th>Do</th>
  </tr>
  </thead>
  <tbody>
  {% for blog in blogs %}
    {{ blog }}
  {% endfor %}
  <tr>
    <td><a href="https://www.the5fire.com">the5fire</a></td>
    <td>关注python、vim、linux、web开发和互联网--life is short, we need python.</td>
    <td>offline</td>
    <td>update<br> ban</td>
  </tr>
  </tbody>
</table>

</body>
</html>