{% extends "base.html" %}
{% block title %}Blog Manage{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="description" content="Python独立博客管理页"/>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST" action="/manage/create/">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }}
    {{ form.url.label }} {{ form.url(size=20) }}
    {{ form.description.label }} {{form.description(cols="20", rows="10") }}
    <input type="submit" value="Go">
</form>

<a href="/">返回首页</a>
<table>
  <thead>
  <tr>
    <th>Blog</th>
    <th>Info</th>
    <th>Status</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  {% for blog in blogs %}
  <tr>
    <td><a href="{{ blog.url }}">{{ blog.name }}</a></td>
    <td>{{ blog.description }}</td>
      {% if blog.status %}
        <td>
            <a href="/manage/status/{{ blog.blog_id }}">
                <span class="serif">Online</span>
            </a>
        </td>
      {% else %}
        <td>
            <a href="/manage/status/{{ blog.blog_id }}">
                <span class="serif">Offline</span>
            </a>
        </td>
      {% endif %}
    <td>
        <span class="serif">
        <a href="/manage/update/{{ blog.blog_id }}">Update</a>
        </span>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}