<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中文</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/awsm.min.css') }}>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <header></header>
    <main>
      <article>
        <p>Hello.削微寒</p>
        <p>My name is Igor Adamenko.</p>
        <p>I create web applications in FunBox.</p>
        <p>In my spare time I <a href="http://igoradamenko.com/blog/" title="Russian blog">write</a> a blog, <a href="https://github.com/igoradamenko/" title="GitHub Profile">take a part</a> in Open Source, <a href="https://www.livelib.ru/reader/igoradamenko/" title="Profile in LiveLib, Russian Goodreads">read</a> books.
        </p><br>
        <p>If you want to connect with me, please <a href="mailto:igoradamenko@igoradamenko.com" title="Mail">write</a> a mail.
        </p>
      </article>
    </main>
    <footer></footer>
  </body>
</html>